# web gitignore start
FishMash/.idea/.generators
FishMash/.idea/.name
FishMash/.idea/.rakeTasks
FishMash/.idea/dataSources.ids
FishMash/.idea/dataSources.local.xml
FishMash/.idea/dataSources.xml
FishMash/.idea/FishMash.iml
FishMash/.idea/misc.xml
FishMash/.idea/modules.xml
FishMash/.idea/vcs.xml
FishMash/.idea/workspace.xml
FishMash/.idea/runConfigurations/Development__FishMash.xml
FishMash/.idea/runConfigurations/Production__FishMash.xml
FishMash/.idea/runConfigurations/spec__FishMash.xml
FishMash/.idea/runConfigurations/test__FishMash.xml
# web gitignore end

#

# android gitignore start
.gradle
local.properties
.idea
build
# android gitignore end

#

# windows phone gitignore start
# windows phone gitignore end