<style>
  .apidoc thead {
    font-weight: bold;
  }

  .warning {
    background-color: #ff7f7f;
  }

  .warning-emphasis {
    font-weight: bold;
    text-transform: uppercase;
  }

  .code {
    font-family: "Courier New", Courier, monospace;
    font-size: x-small;
  }

  .code-json {
    width: 200px;
  }
</style>

<h1>FishMash API documentation</h1>
<table class="apidoc" border="1">
  <thead>
    <tr>
      <td>Action path</td>
      <td>HTTP Verb</td>
      <td>Required parameters</td>
      <td>Description</td>
      <td>Returned data example</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="code">/api/lists</td>
      <td>GET</td>
      <td>
        None
      </td>
      <td>
        Returns a list of available word lists.
      </td>
      <td class="code code-json">
        [{"details":{"id":1,"name":"General English revision","description":"Powtórka testowa - angielski","main_language_id":1,"foreign_language_id":2,"updated_at":"2015-03-22T11:15:06.336Z"}},{"details":{"id":2,"name":"Wiederholung der deutschen","description":"Powtórka testowa - niemiecki","main_language_id":1,"foreign_language_id":3,"updated_at":"2015-03-22T11:15:06.341Z"}},{"details":{"id":3,"name":"Répétition des Français","description":"Powtórka testowa - francuski","main_language_id":1,"foreign_language_id":4,"updated_at":"2015-03-22T11:15:06.345Z"}}
      </td>
    </tr>
    <tr>
      <td class="code">/api/lists/:list_id/add</td>
      <td>POST</td>
      <td>
        <ul>
          <li>list_id - passed in URL, an ID of the word list.</li>
          <li>word_id - passed in request body, an ID of the word to be added.</li>
        </ul>
      </td>
      <td>
        <span class="warning"><span class="warning-emphasis">Warning:</span> Internal method for web application.</span>
        <br />
        Adds a word to the words list.
      </td>
      <td></td>
    </tr>
    <tr>
      <td class="code">/api/lists/:id</td>
      <td>GET</td>
      <td>
        <ul>
          <li>id - an ID of the word list to get details.</li>
        </ul>
      </td>
      <td>
        Returns a list with all words related to it.
      </td>
      <td class="code code-json">
        {"details":{"id":2,"name":"Wiederholung der deutschen","description":"Powtórka testowa - niemiecki","main_language_id":1,"foreign_language_id":3,"updated_at":"2015-03-22T11:15:06.341Z"},"words":[{"id":5,"phrase":"Katze","meaning":"Kot"},{"id":6,"phrase":"Hund","meaning":"Pies"},{"id":7,"phrase":"Schmetterling","meaning":"Motyl"},{"id":8,"phrase":"Pferd","meaning":"Koń"}]}
      </td>
    </tr>
    <tr>
      <td class="code">/api/words</td>
      <td>POST</td>
      <td>
        <ul>
          <li>phrase</li>
          <li>meaning</li>
          <li>phrase_language_id</li>
          <li>meaning_language_id</li>
        </ul>
      </td>
      <td>
        <span class="warning"><span class="warning-emphasis">Waning:</span> Internal method for web application.</span>
        <br />
        Creates a new word instance.
      </td>
      <td class="code code-json">
        {"id":39,"phrase":"apfel","meaning":"jabłko","phrase_language_id":3,"meaning_language_id":1,"created_at":"2015-03-23T00:27:55.079Z","updated_at":"2015-03-23T00:27:55.079Z"}
      </td>
    </tr>

    <tr>
      <td class="code">/api/users/authenticate</td>
      <td>POST</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>user<br />
              <ul>
                <li>login</li>
                <li>password</li>
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            user: {
   login: 'foo',
   password: 'bar'
  }
          </p>
        </div>
      </td>
      <td>
        Returns login token and it's properties if provided login and corresponding password are valid. 401 (Unauthorized) is returned if provided credentials are invalid.
      </td>
      <td class="code code-json">
        {"id":4,"token":"4062c2081a205da7c1a48f713c8b5d16","user_id":1,"created_at":"2015-04-19T22:16:40.673Z","updated_at":"2015-04-19T22:16:40.673Z"}
      </td>
    </tr>

    <tr>
      <td class="code">/api/users/:id</td>
      <td>GET</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>id - passed in URL, user id</li>
            <li>api_token - passed in request body</li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            token: '4062c2081a205da7c1a48f713c8b5d16'
          </p>
        </div>
      </td>
      <td>
        Returns basic account information depending on the unique login token passed in request body.
      </td>
      <td class="code code-json">
        created_at: "2015-04-19T16:32:39.645Z", email: "test@domain.com", login: "foo", updated_at: "2015-04-19T20:54:59.080Z", user_type: null
      </td>
    </tr>

    <tr>
      <td class="code">/api/exams</td>
      <td>GET</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>api_token - passed in request body</li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            token: '4062c2081a205da7c1a48f713c8b5d16'
          </p>
        </div>
      </td>
      <td>
        Returns list of all exams in form of array.<br />
        Params of single element are:<br />
        <ul>
          <li>id - ID of an exam</li>
          <li>name - name of an exam</li>
          <li>Set of dates which are selfexplanatory</li>
          <li>Word count - maximum number of words in the test (if wordlists include less words, the exam will be shorter. It is quite buggy for now)</li>
          <li>is_finished - Indicates whether this exam is finished by current user. If so, only summary of it can be displayed.</li>
        </ul>
      </td>
      <td class="code code-json">
        "[{"id":1,"name":"Test 1 - Animals","date_exam_start":"2016-01-09","date_exam_finish":"2016-01-16","date_practice_start":"2016-01-01","date_practice_finish":"2016-01-08","word_count":4,"is_finished":true},{"id":2,"name":"Test 1 - die Tiere","date_exam_start":"2016-01-09","date_exam_finish":"2016-01-16","date_practice_start":"2016-01-01","date_practice_finish":"2016-01-08","word_count":4,"is_finished":false},{"id":3,"name":"Test 1 - Animaux","date_exam_start":"2016-01-09","date_exam_finish":"2016-01-16","date_practice_start":"2016-01-01","date_practice_finish":"2016-01-08","word_count":4,"is_finished":false}]"
      </td>
    </tr>

    <tr>
      <td class="code">/api/exams/:exam_id</td>
      <td>GET</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>api_token - passed in request body</li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            token: '4062c2081a205da7c1a48f713c8b5d16'
          </p>
        </div>
      </td>
      <td>
        Returns a single instance of exam and information regarding it.
        <ul>
          <li>id - ID of an exam</li>
          <li>name - name of an exam</li>
          <li>Set of dates which are selfexplanatory</li>
          <li>Word count - maximum number of words in the test (if wordlists include less words, the exam will be shorter. It is quite buggy for now)</li>
          <li>is_finished - Indicates whether this exam is finished by current user. If so, only summary of it can be displayed.</li>
        </ul>
      </td>
      <td class="code code-json">
        { id: 1, name: "Test 1 - Animals", date_exam_start: "2016-01-09", date_exam_finish: "2016-01-16", date_practice_start: "2016-01-01", date_practice_finish: "2016-01-08", word_count: 4, is_finished: true }
      </td>
    </tr>

    <tr>
      <td class="code">/api/exams/:exam_id/get_question</td>
      <td>POST</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>api_token - passed in request body</li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            token: '4062c2081a205da7c1a48f713c8b5d16'
          </p>
        </div>
      </td>
      <td>
        Gets a question to answer in the exam.
        Id is an ID of a question that would be passed back to the server while posting the answer.<br />
        Meaning is the question.<br /><br />
        <strong>If Id is set to 0 and exam_finished as true, the exam is over.</strong>
      </td>
      <td class="code code-json">
        "{"id":37,"answer":null,"finished":null,"passed":null,"meaning":"Pies","exam_finished":false}"
      </td>
    </tr>

    <tr>
      <td class="code">/api/exams/:exam_id/answer</td>
      <td>POST</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>api_token - passed in request body</li>
            <li>answer_id - id received while getting the question.</li>
            <li>answer_text - answer text that will be checked by the server.</li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            token: '4062c2081a205da7c1a48f713c8b5d16'

            { answer_id: 37, answer_text: 'pies' }
          </p>
        </div>
      </td>
      <td>
        Saves the answer in the exam.<br />
        If an error occurs during server side operations (such as DB failure), saved param will be set to false.
      </td>
      <td class="code code-json">
        "{"saved":true,"messsage":"Answer saved"}"
      </td>
    </tr>

    <tr>
      <td class="code">/api/exams/:exam_id/summary</td>
      <td>GET</td>
      <td>
        <div>
          <h5>Parameters</h5>
          <ul>
            <li>api_token - passed in request body</li>
          </ul>
        </div>
        <div>
          <h5>Example data</h5>
          <p class="code code-json">
            token: '4062c2081a205da7c1a48f713c8b5d16'
          </p>
        </div>
      </td>
      <td>
        Gets information about answers provided during the exam.
      </td>
      <td class="code code-json">
        "[{"id":37,"answer":"pies","finished":true,"passed":false,"meaning":"Pies","exam_finished":true,"phrase":"Dog"},{"id":38,"answer":"swfdg","finished":true,"passed":false,"meaning":"Żyrafa","exam_finished":true,"phrase":"Giraffe"},{"id":39,"answer":"sdfg","finished":true,"passed":false,"meaning":"Motyl","exam_finished":true,"phrase":"Schmetterling"},{"id":40,"answer":"dog","finished":true,"passed":false,"meaning":"Pies","exam_finished":true,"phrase":"Hund"}]"
      </td>
    </tr>

  </tbody>
</table>
