<h2>You are learning for exam: <%= @exam.name %></h2>
<div class="text-center">
  <p>
    <em>Question: <span id="learning-question"></span></em>
  </p>
  <p>
    <input type="text" id="learning-text" class="form-control" />
  </p>
  <p>
    <button type="button" id="learning-submit">Submit</button>
  </p>
</div>
