<div>
  <p>Choose class to show statistics for:</p>
  <p>
    <% @exam.student_classes.each do |stud_class| %>
      <a href="#" class="btn btn-sm btn-primary studclass-choose" class-id="<%= stud_class.id %>"><%= stud_class.name %></a>
    <% end %>
  </p>
</div>
<div>
</div>

<input type="hidden" id="exam-id" value="<%= @exam.id %>" />

<%= javascript_include_tag 'exam-stats', 'data-turbolinks-track' => true %>
