/*
 * Orange     #FB6400
 * Gray       #2B2B2B
 * Light Gray #AAAAAA
 */

.fish-nav {
  background: #FB6400;
  color: #fff;
  text-align: center;
  height: 75px;
  overflow: hidden;
}

.fish-nav ul {
  list-style: none;
  height: 75px;
  overflow: hidden;
  font-size: 0px;
}

.fish-nav li {
  display: inline-block;
  font-size: 21px;
  font-family: 'Arimo';
  height: 75px; 
  transition: all 0.2s;
  width: 120px;
  text-align: center;
}

.fish-nav li:hover {
  background: #fff;
  color: #2b2b2b;
}

.fish-nav-logo {
  width: 150px !important;
}

.fish-nav-logo img {
  height: 75px;
}

.fish-desc {
  text-align: center;
  color: #AAAAAA;
  font-family: 'Amatic SC';
  font-size: 21px;
  padding: 2px;
}
