// Place all the styles related to the WordLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO & FIXME: Temporary solution. Front-end developer should wrap it properly.
#wordlist-wordview {
  width: 300px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e1e1e1;
}

#wordlist-list {
  overflow: visible;
}
