// Place all the styles related to the WordLists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// TODO & FIXME: Temporary solution. Front-end developer should wrap it properly.
#wordlist-wordview {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 75px 0px;
}

#wordlist-wordview h2 {
  font-size: 48px;
}

#wordlist-list {
  overflow: visible;
}
